head{
    font-family: comic 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: floralwhite; 
    padding: 10px;
}


body {
    background-color: #1D2540;
}
body {
    font-family: 'comic sans', Verdana, sans-serif;
}
nav li {
    display: inline-block;
    color: ghostwhite;
    outline: ghostwhite;
    text-decoration: underline;
    
}
nav a {
    color: floralwhite;
    text-decoration: none;
    padding: 10px;
    
}
nav a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.active{
    background-color:  white;
    color: red;
    
}
.inactive{
    background-color: red;
    text-decoration: white;
}
main{
    flex-direction: row;
    flex-flow: row;
    border-image-width: 150px;
}
img {
    max-width: 300px;
    min-width: 300px;
    max-height: 300px;
    min-height: 300px;
    padding: 15px;
    background-color: white;
} 
fieldset{
.floated1{
    float:inline-start
}
.floated2{
    float: inline-end;
    
}
}