head{
    font-family: comic 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: floralwhite; 
    padding: 10px;
}


body {
    background-color: #1D2540;
}
body {
    font-family: 'comic sans', Verdana, sans-serif;
}
nav li {
    display: inline-block;
}
nav a {
    color: floralwhite;
    text-decoration: none;
    padding: 10px;
}