header{
    display: flex
    justify-content space-between
}
.header{
    background-color: red;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: space-between;
    position: relative;
    flex-grow: 1;
    padding: 10px;
    margin: 10px;
    

}
.logo{
    display:flex;
    max-width: 135px;
    max-height: 120px;
    position: relative;
    background-color: red;
}
nav li{
    display: inline;
    text-decoration: underline;
    text-size-adjust: 30px;
    border: solid 1px;
}
.inactive {
    color:white;
    background-color:red;
    padding:10px;
}
.active {
    color:black;
    background-color: red;
    padding: 10px;
}
body{
    background-color:#5861B2;
}
.images_s{
   display:grid inline fixed;
   max-width: 1200px;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   gap: 50px;
   outline: 2px solid black
}
.button_a{
    position: bottom left;
    
}
.images_s img{
    max-width: 100%;
}
main{
    display:grid inline;
    grid-template-columns: auto auto auto auto;
}
.names{
    display:grid inline;

}
footer{
    text-align: center;
    font-size: 12px;
    text-decoration-color: black;
    max-width: fit-content;
}
.games{
    display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 25px;
}
.hardware{
   display: grid inline;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 25px;
}
.images{
   display:inline-grid;
}