body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  main {
    min-height: calc(100vh - 10vh);
  }
  
  footer {
    background-color: #ff0000;
    padding-bottom: 10vh;
    margin-top: auto;
    margin-top: 10vh;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 10vh;
    color: #1b203d;
  }
  .footer-gamehub,
  .footer-support,
  .footer-sitemap {
    margin-left: 4vw;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
  }
  .footer-h2 {
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 2vh;
    font-weight: bolder;
    font-family: "Oswald", sans-serif;
  }
  .container div a {
    color: #1b203d;
    margin-bottom: 0.25vh;
    font-size: 1.5vh;
    font-family: "Oswald", sans-serif;
  }
 
  .container div a:hover {
    font-size: 1.7vh;
    transition: 0.3s ease-out;
  }
  .container .footer-socials a:hover {
    font-size: 2.4vh;
    transition: 0.3s ease-out;
  }
  
  /*----- MEDIA QUERIES -----*/
  
  @media (max-width: 828px) {
    .footer-socials {
      flex-direction: row;
      break-before: always;
    }
  
  }
  @media (max-width: 513px) {
    .footer-gamehub,
    .footer-support,
    .footer-sitemap{
      padding: 0 1vw;
    }
  }
  
  @media (min-width: 829px) {
    .container div a {
      font-size: 1vw;
    }
    .footer-h2 {
      font-size: 1.5vw;
    }
    .container a {
      font-size: 1.5vw;
    }
    .container  a:hover {
      font-size: 1.6vw;
      transition: 0.3s ease-out;
    }
    .container div a:hover {
      font-size: 1.1vw;
      transition: 0.3s ease-out;
    }
    .container {
      height: 6vw;
    }
  }
  